#header {
	padding-left: 0px;
  padding-right: 0px;
}

#home_slider {
	margin-bottom: 20px;
}

#home_slider .wrapper_bx {
	margin-left : 5px;
	margin-right: -5px;
}

#logo {
	text-align: center;
}



.logo-img {
		width: 200px;
}

.text-right {
	text-align: center !important;
}

.navbar {
    border-radius: 1px;
}

.navbar-default {
  background-color: #ec7405 !important;
	border-color: #ec7405 !important;
	margin: 8px 0 30px;
}

.navbar-default .navbar-brand {
  color: white !important;
	font-size: 22px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: black !important;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
	font-size: 18px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}

.dropdown-menu > .active > a {
	background-color: transparent !important;
	color: black !important;
}

.dropdown-menu > .active > a:hover {
	background-color: #F1F1F1 !important;
	color: black !important;
}

h3.panel-title {
  color: #ec7405 !important;
  text-transform: uppercase;
  font-size: 22px !important;
}

.panel-default {
    border-color: transparent !important;
}

.panel-default > .panel-heading {
  background-color: white !important;
	border-color: #ec7405 !important;
}

.panel-heading {
  padding: 10px 0;
}

h3, .h3 {
    font-size: 20px;
    color: black !important;
}

.ngg-browser-prev {
	color: black !important;
}

.ngg-browser-next {
	color: black !important;
}

.wpcf7-form {
	padding: 20px;
	border-top: 3px solid #F7BE7B;
	margin: 30px;
}

.wpcf7-form input{
	padding: 8px 10px;
	background-color: rgb(210, 210, 210);
	border: none;
}

.wpcf7-form p{
	margin: 12px;
	font-size: 14px;
}

.wpcf7-submit {
	background-color: #ec7405 !important;
	color: white !important;
	padding: 5px 10px;
  border: 0;
}

.wpcf7-textarea {
	width: 80%;
	padding: 8px 10px;
	font-size: 16px;
	background-color: rgb(210, 210, 210);
	border: none;
}

.thumbnail {
	padding: 0 !important;
	border: none !important;
	box-shadow: 1px 1px 12px #555;
}

.thumbnail .caption h3{
	font-size: 20px;
	padding: 0 8px 10px;
}

.thumbnail .caption {
    padding: 0 !important;
}

.thumbnail a > img {
    width: 100%;
}

#footer {
    background-color: #ec7405 !important;
}
